// below are variables from provided styleguide

// provided colors
$Strong_Cyan: hsl(171, 66%, 44%);
$Light_Blue: hsl(233, 100%, 69%);
$Dark_Grayish_Blue: hsl(210, 10%, 33%);
$Grayish_Blue: hsl(201, 11%, 66%);

//font settings
$mainFont: 'Bai Jamjuree', sans-serif; ;
$mainFont_size: 18px;
