@import "variables";
@import "normalize";

body{
    text-align: center;
    font-family: $mainFont;
    font-size: $mainFont_size;
    color: $Grayish_Blue;
}

h1,
h2,
h3{
    color: rgb(71, 71, 71);
}

h1{
    margin-top: -0.3em;
}

h2{
    margin-top: 5em;
}

.hero{
    margin: 0 auto;
    padding: 8em 0 4em;
    background: $background no-repeat;
    background-position: center;
    background-size: cover;
}






















// standart footer
.attribution { 
    font-size: 11px; 
    text-align: center; 
    a { 
        color: hsl(228, 45%, 44%); 
    }  
}