* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  text-align: center;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #9fabb2;
}

h1,
h2,
h3 {
  color: #474747;
  font-weight: 600;
}

h1 {
  margin-top: -0.3em;
}

p {
  margin-top: 2em;
}

article,
footer {
  margin-top: 8em;
}

.hero {
  margin: 0 auto;
  padding: 8em 0 4em;
  background: url(../../images/bg-header-desktop.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.tagline {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.download_btns {
  max-width: 470px;
  margin: 0 auto;
  padding: 2em 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.download_btns .download_btn {
  display: inline-block;
  color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 7px 13px 24px -1px rgba(29, 27, 27, 0.56);
}
.download_btns .download_for_iOS {
  background-color: #26baa4;
}
.download_btns .download_for_MAC {
  background-color: #6173ff;
}

.description_features {
  max-width: 1440px;
  margin: 5em auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.description_features .description_img {
  margin-left: -3em;
}
.description_features .description_img img {
  width: 100%;
}
.description_features .description_features_items {
  width: 50%;
  padding: 0 4em;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}
.description_features .description_features_items .features_item {
  padding: 1em 5em;
  margin-bottom: 1.5em;
}
.description_features .description_features_items p {
  margin-top: 0.5em;
}

.showcase .showcase_img {
  margin-top: 3em;
}
.showcase .showcase_img img {
  width: 75%;
}

.workflow .workflow_items {
  max-width: 1300px;
  margin: 5em auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.workflow .workflow_items .workflow_item {
  padding: 0 3.5em;
}
.workflow .workflow_items .workflow_item h3 {
  margin-top: 2em;
}
.workflow .workflow_items .workflow_item:first-child h3 {
  margin-top: 1.5em;
}

.partners_list h3 {
  display: none;
}
.partners_list .list {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer {
  background-color: #f2f4f6;
}
footer .footer_wrapper {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2em;
  padding-bottom: 5em;
}
footer .footer_wrapper .footer_logo img {
  width: 50%;
}
footer .footer_wrapper .footer_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .footer_wrapper .footer_links .links_bloc {
  margin-right: 5em;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer_wrapper .footer_links .links_bloc a {
  display: block;
  color: #9fabb2;
}
footer .footer_wrapper .footer_links .links_bloc a:hover {
  color: #6173ff;
  cursor: pointer;
}
footer .footer_wrapper .footer_social_links {
  width: 150px;
  margin-left: 15em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer_wrapper .footer_social_links a:hover {
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #26baa4;
}

@media screen and (max-width: 1395px) {
  .description_features .description_img {
    margin: 0 auto;
  }
  .description_features .description_features_items {
    width: 100%;
    margin: 2em auto 0;
    text-align: center;
  }
  .description_features .description_features_items .features_item {
    width: 100%;
    padding: 0 0.5em;
  }
}
@media screen and (max-width: 900px) {
  article,
footer {
    margin-top: 3em;
  }

  .description_features .description_features_items {
    padding: 0 0.5em;
  }

  .workflow .workflow_items {
    flex-wrap: wrap;
  }
  .workflow .workflow_items .workflow_item {
    width: 100%;
    margin-bottom: 4em;
  }

  .partners_list .list a {
    display: block;
    width: 30%;
    margin-bottom: 1.5em;
  }

  footer .footer_wrapper .footer_social_links {
    margin: 1.5em auto 0;
  }
}
@media screen and (max-width: 450px) {
  .hero {
    background: url(../../images/bg-header-mobile.png) no-repeat;
    background-position: center;
    background-size: cover;
  }

  .tagline {
    padding: 0 1em;
  }

  .download_btn {
    width: 90%;
    margin-bottom: 2em;
  }

  .description_features .description_img img {
    width: 90%;
  }

  .partners_list .list a {
    width: 100%;
    margin-bottom: 4em;
  }

  footer .footer_wrapper {
    text-align: center;
  }
  footer .footer_wrapper .footer_logo {
    margin: 0 auto;
  }
  footer .footer_wrapper .footer_links {
    width: 100%;
    margin-top: 2em;
    flex-direction: column;
  }
  footer .footer_wrapper .footer_links .links_bloc {
    margin-right: 0;
    text-align: center;
  }
  footer .footer_wrapper .footer_links .links_bloc a {
    margin-bottom: 1.5em;
  }
}